/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
blog-example.iml
php.xml
vcs.xml
workspace.xml
composer.lock
/.idea
public/mix-manifest.json
package-lock.json
